
{{form_start(form , {'attr':{'novalidate': 'novalidate'}} )}}
<table>

<tr>
<td> {{ form_label(form.nom_cand ,"nom_cand ") }}</td>
<td> {{ form_widget(form.nom_cand ) }}</td>
<td> {{ form_errors(form.nom_cand ) }}</td>
</tr>
<tr>
<td> {{ form_label(form.prenom_cand ,"prenom_cand") }}</td>
<td> {{ form_widget(form.prenom_cand)}}</td>
<td> {{ form_errors(form.prenom_cand ) }}</td>  

</tr>

<tr>
<td> {{ form_label(form.mail,"mail") }}</td>
<td> {{ form_widget(form.mail)}}</td>
<td> {{ form_errors(form.mail) }}</td>  
</tr>



    <button class="btn">{{ button_label|default('Save') }}</button>
    <!--<button class="btn">{{ button_label|default('Accepter') }}</button>
    <button class="btn">{{ button_label|default('Refuser') }}</button> -->

{{ form_end(form) }}
