{% extends 'baseBack.html.twig' %} 

{% block title %}Candidats index{% endblock %}
 {% block body %}
    <h1> Liste des Candidats </h1>

<table border="2">
    
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_cand</th>
                <th>Prenom_cand</th>
                <th>Mail</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.nomCand }}</td>
                <td>{{ candidat.prenomCand }}</td>
                <td>{{ candidat.mail }}</td>
               
                <td>
                    <a href="{{ path('app_candidats_show', {'id': candidat.id}) }}">show</a>
                    <a href="{{ path('app_candidats_edit', {'id': candidat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_candidats_new') }}">Create new</a>

 {% endblock %}